.donorList {
  margin: 20px 0px;
  padding: 0px;
  background-color: #0c4270;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 50px;
  float: left;
  width: 80%;
  height: 100%;
  display: inline-block;
  overflow: scroll;

  .Amount {
    color: white;
    padding: 10px;
    background-color: #3575ab;
  }

  table {
    margin: 10px 0px 0px 0px;
    border-collapse: collapse;
    width: 100%;
  }

  .entry {
    color: white;
    width: 100%;
    margin: 4px;

    .bid {
      text-align: center;
    }
  }

  .example-enter {
    opacity: 0.01;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .example-appear {
    opacity: 0.01;
  }

  .example-enter.example-enter-active, .example-appear.example-appear-active {
    opacity: 1;

    -webkit-animation-name: demo;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
    -moz-animation-name: demo;
      -moz-animation-duration: 3s;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: linear;
  }

  @-webkit-keyframes demo {
      0% {
          background-color: transparent;
          color: #0c4270;
          opacity:1;
      }
      10% {
          background-color: white;
          color: #0c4270;
          opacity:1;
      }
      90% {
          background-color: white;
          color: #0c4270;
      }
      100% {
          background-color: transparent;
          color: white;
      }
  }
}
