.donorList {

  position: absolute;
  top: 200px;
  left: 0px;
  bottom: 0px;
  width: calc(50% - 50px);
  background-color: #0c4270;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 34px;
  float: left;
  overflow: scroll; 
  margin-left:50px;

  // width: 80%;
  // height: 90%;
  // display: inline-block;
  // margin: 20px 0px;
  // padding: 0px;

  .Amount {
    color: white;
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    width: inherit;
    background-color: #3575ab;
  }

  table {
    margin-top: 60px;
    border-collapse: collapse;
    width: 100%;
  }

  .entry {
    color: white;
    width: 100%;
    margin: 4px;
    border-bottom: 1px solid #579;

    .bid {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      width:120px;
    }
  }

  .example-enter {
    opacity: 0.01;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .example-appear {
    opacity: 0.01;
  }

  .example-enter.example-enter-active, .example-appear.example-appear-active {
    opacity: 1;

    -webkit-animation-name: demo;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
    -moz-animation-name: demo;
      -moz-animation-duration: 3s;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: linear;
  }

  @-webkit-keyframes demo {
      0% {
          background-color: transparent;
          color: #0c4270;
          opacity:1;
      }
      10% {
          background-color: white;
          color: #0c4270;
          opacity:1;
      }
      90% {
          background-color: white;
          color: #0c4270;
      }
      100% {
          background-color: transparent;
          color: white;
      }
  }
}
