.Graph {
  margin: 20px 10px;
  background-color: #f7f5f5;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  float: left;
  width: 15%;
  height: 100%;
  position: relative;
  text-align: center;

  .Amount {
    color: black;
    position: absolute;
    width: 100%;
  }

  .Bar {
    background-color:orange;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
