body, html {
   margin: 0px;
   height: 100%;
   width: 100%;
   background-color: #0c4270;
}

.home {
  position: relative;
  // padding: 20px;
  height: 100%;
  width: 100%;
}

#base {
	height: 100%;
}
